<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<script src="/static/angular.min.js"></script>
		<script src="/static/jquery-1.7.2.min.js"></script>
		<script src="/static/jquery.form.min.js"></script>
		<!-- <script src="/static/jquery.ajaxfileupload.js"></script> -->
		<title>PrintOnline</title>
		<style type="text/css">
		body{
			font-size: 14px;
		}
		a{
			color: blue;
			text-decoration: none;
			padding: 5px 0;
		}
		.file, .printer{

		}
		.file:hover, .printer:hover{
			cursor: pointer;
			background: #E0E0E0;
		}
		table{

		}
		tr,td,table{
			border: none;
			border-collapse: collapse;
		}

		td{
			border-left: 1px solid gray;
			border-right: 1px solid gray;
			/*padding: 2px 5px;*/
			border-bottom: 1px solid gray;
		}
		.titleline td{
			border-bottom: 1px solid gray;
		}
		td.status{
			text-align: center;
			width: 50px;
		}
		.titleline td{
			border-top: 1px solid gray;
		}
		td.checkbox{
			text-align: center;
			/*width: 30px;*/
			width: 1.5rem;
		}
		.checkbox{
			width: 1.2rem;
			height: 1.2rem;
		}
		.btns a{
			color: gray;
		}
		.btns a.enable{
			color: blue;
		}
		.newitem{
			background: #d4ffd4;
		}
		</style>
	</head>
	<body>
		<div ng-app="PrintOnline" ng-controller="PrintOnlineCtrl">
			<div style="width: 100%; margin: 0 auto; max-width: 800px;">
				Printers: &nbsp;&nbsp; <span>{{status}}</span><span style="color: red;" ng-if="error.length>0">{{error}}</span>
				<table style="width: 100%; margin: 5px 0;">
					<tr class="titleline">
						<td class="checkbox">
							<!-- <img class="checkbox" ng-click="checkall()" ng-src="{{checkedall?'/static/checked.png':'/static/unchecked.png'}}"> -->
						</td>
						<td>
							Name
						</td>
					</tr>
					<tr ng-repeat="p in printers" class="printer" ng-if="printers && printers.length>0" ng-click="selprinter(p)">
						<td class="checkbox">
							<img class="checkbox" ng-src="{{p.checked?'/static/checked.png':'/static/unchecked.png'}}">
						</td>
						<td>
							<a style="display: block;">{{p.name}}</a>
						</td>
					</tr>
					<tr class="printer" ng-if="!printers || printers.length==0">
						<td colspan="3">
							<p style="text-align:center;">
								no printer~
							</p>
						</td>
					</tr>
				</table>
				<hr />
				Files:
					<input type="text" ng-model="query" style="width:120px;" />
					<button ng-click="print()">PRINT<span ng-show="selected()">({{selectedfiles().length}})</span></button>
					<button ng-click="upload()">UPLOAD<span ng-show="uploader.progress">({{uploader.progress}})</span></button>
					<form style="display:none;" enctype="multipart/form-data" method="post" id="uploadform" action="/">
						<input type="file" name="file" id="filefield"/>
					</form>
				<table style="width: 100%; margin: 5px 0;">
					<tr class="titleline">
						<td class="checkbox">
							<img class="checkbox" ng-click="checkall()" ng-src="{{checkedall?'/static/checked.png':'/static/unchecked.png'}}">
						</td>
						<td>
							Name
						</td>
						<td>
							
						</td>
					</tr>
					<tr ng-repeat="f in files|filter:query|orderBy:'$index':true" class="file" ng-if="files && files.length>0" ng-class="{newitem:f.isnew}">
						<td class="checkbox">
							<img class="checkbox" ng-click="f.checked=!f.checked" ng-src="{{f.checked?'/static/checked.png':'/static/unchecked.png'}}">
						</td>
						<td>
							<a style="display: block;" ng-click="f.checked=!f.checked">{{f.name}} <span style="color:red" ng-if="f.printfail">failed!</span></a>
						</td>
						<td>
							<a href="/{{f.name}}" target="_blank">Download</a>
						</td>
					</tr>
					<tr class="file" ng-if="!files || files.length==0">
						<td colspan="3">
							<p style="text-align:center;">
								no file~
							</p>
						</td>
					</tr>
				</table>
				<div style="border: 1px solid gray; padding:5px;" ng-show="logs && logs.length>0">
					<span style="display: block;" ng-repeat="l in logs track by $index">{{l}}</span>
				</div>

				<div style="text-align: center; margin-top: 10px;" class="btns">
					<a href="javascript:void(0);" ng-click="refresh();" ng-class="{enable:true}">REFRESH</a>
					|
					<a href="javascript:void(0);" ng-click="print();" ng-enable="selected()" ng-class="{enable:selected()}">PRINT</a>
					|
					<a href="https://github.com/sintrb/PrintOnline" target="_blank" class="enable">GitHub</a>
				</div>
			</div>
		</div>
		<script>
		var app = angular.module('PrintOnline', []);
		app.controller('PrintOnlineCtrl', function($scope, $http,$location,$window) {
			scope = $scope;
			$scope.status = '';
			$scope.checkall = function(){
				$scope.checkedall = !$scope.checkedall;
				for (var i = 0; i < $scope.files.length; i++) {
					$scope.files[i].checked = $scope.checkedall;
				}
			};
			$scope.text = "";
			$scope.logs = [];
			$scope.selprinter = function(p){
				for (var i = 0; i < $scope.printers.length; i++) {
					$scope.printers[i].checked = p == $scope.printers[i];
				}
			};
			$scope.selectedfiles = function(){
				var arr = [];
				if($scope.files){
					for (var i = 0; i < $scope.files.length; i++) {
						if($scope.files[i].checked){
							arr.push($scope.files[i]);
						}
					}
				}
				return arr;
			}
			$scope.selected = function(){
				return $scope.selectedfiles().length > 0;
			}
			$scope.refresh = function(){
				$scope.status = 'refresh...';
				$http({url:'/api/update',params:{path:$scope.path}}).success(function(res) {
					$scope.error = $scope.status = '';
					$scope.files = res.data.files;
					$scope.printers = res.data.printers;
				}).error(function(){
					$scope.status = '';
					$scope.error = "error!";
				});
			};
			$scope.print = function(){
				// console.log('print');
				var files = [];
				for(var i=0; i<$scope.files.length; ++i){
					if($scope.files[i].checked){
						files.push($scope.files[i]);
					}
				}
				var printer = null;
				for(var i=0; i<$scope.printers.length; ++i){
					if($scope.printers[i].checked){
						printer = $scope.printers[i];
						break;
					}
				}

				if(printer && confirm("Print "+files.length+" files with "+printer.name+"?")){
					var goprint = function goprint(){
						if(files.length>0){
							var file = files.pop();
							var filename = file.name;
							$scope.status = 'print '+filename+'...';
							$http({url:'/api/print',params:{printername:printer.name,filename:filename}}).success(function(res) {
								$scope.error = $scope.status = '';
								if(res.data.ok){
									file.checked = false;
								}
								file.printfail = !res.data.ok;
								goprint();
							}).error(function(){
								$scope.status = '';
								$scope.error = "error!";
							});
						}
					};
					goprint();
				}
			}
			$scope.upload = function(){
				$("#uploadform #filefield").val('');
				$("#uploadform #filefield").click();
			}
			$scope.refresh();

			$scope.uploader = {};

			// window.$scope = $scope;
			$(function(){
				$("#uploadform #filefield").change(function(){
					if(!$("#uploadform #filefield").val() || $("#uploadform #filefield").val() == ''){
						return;
					}
					$("#uploadform").ajaxSubmit({
						url:'/',
						dataType:'json',
						// iframe:true,
						success:function(res){
							$scope.$apply(function(){
								if(res){
									var has = false;
									for(var i=0; i<$scope.files.length; ++i){
										if($scope.files[i].name == res.name){
											res = $scope.files[i];
											has = true;
											break;
										}
									}
									res.isnew = true;
									res.checked = true;
									if(!has)
										$scope.files.push(res);
								}
								$scope.error = $scope.status = '';
							});
						},
						error:function(msg){
							$scope.$apply(function(){
								$scope.status = '';
								$scope.error = "upload failed!";
							});
						},
						beforeSubmit:function(){
							$scope.$apply(function(){
								$scope.status = 'uploading...';
								$scope.error = '';
								$scope.uploader = {};
							});
						},
						uploadProgress: function(event, position, total, percentComplete) {
							$scope.$apply(function(){
								$scope.uploader.progress = percentComplete<100?percentComplete+"%":null;
							});
						},
					})
				});
			});
		});



		</script>
	</body>
</html>
